# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 가상 환경
venv/
ENV/
env/

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo

# AWS 자격 증명 정보
aws_config.py

# 데이터 파일
*.xlsx
*.csv
*.json

# 로그 파일
*.log

# 모델 파일
*.joblib
*.pkl

# 결과 파일 (필요한 경우 주석 처리)
# results/

# 기타
.DS_Store
Thumbs.db